@font-face {
  font-family: "Roboto Medium";
  src: url('../fonts/web/robotomedium.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/web/roboto.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
}

header {
  background-color: #eee;
}
